div#basket-items{
    width: 100%;
    min-height: 300px;
}

div#basket-total-price{
    position: fixed;
    margin: 40px 0 0 9px;
    font-size: 20pt;
    color: #4A148C;
    margin-bottom: 20px;
}

div.basket-item{
    float: left;
    width: 50%;
    border-bottom: 1px #4A148C solid;
}

div.basket-item-image{
    float: left;
    width: 64px;
    height: 64px;
    margin: 5px;
}

div.basket-item-image>img{
    border-radius: 50%;
}

div.basket-item-description{
    float: left;
    width: 183px;
    font-size: 15pt;
    color: #4A148C;
    margin: 5px;
}

div.basket-item-name{
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(0,0,0, .25);
}

div.basket-item-price{
}

img.basket-remove-button{
    float: right;
    width: 32px;
    height: 32px;
    margin-top: 4px;
    cursor: pointer;
}

a#basket-items-expand{
    position: absolute;
    margin-top: 50px;
    bottom: 0;
    font-size: 10px;
    color: #4A148C;
    text-decoration: underline;
    line-height: 30px;
    padding-left: 9px;
    cursor: pointer;
}

a#basket-items-expand:hover{
    color: #7C4DFF;
}